In [4]:
# Import Required Libraries
import pandas as pd
import numpy as np

print("Libraries imported successfully")

Libraries imported successfully

In [5]:
# Load dataset
path = "../data/raw/synthetic_stroke_data.csv"
df = pd.read_csv(path)

print("="*80)
print("STROKE PREDICTION - DATA LOADING & INITIAL EXPLORATION")
print("="*80)

================================================================================
STROKE PREDICTION - DATA LOADING & INITIAL EXPLORATION
================================================================================

In [6]:
print("\n1. DATASET OVERVIEW")
print("-"*80)
print(f"Dataset shape: {df.shape}")
print(f"\nFirst few rows:")
print(df.head())

1. DATASET OVERVIEW
--------------------------------------------------------------------------------
Dataset shape: (57281, 12)

First few rows:
   id  gender   age  hypertension  heart_disease ever_married      work_type  \
0   1  Female  80.3             0              0          Yes       Govt_job
1   2  Female  89.4             0              0          Yes  Self-employed
2   3    Male  87.5             0              0          Yes       Children
3   4    Male  19.7             0              0          Yes        Private
4   5    Male  85.2             0              0          Yes       Children

  Residence_type  avg_glucose_level   bmi   smoking_status  stroke
0          Urban             170.38  18.4          Unknown       0
1          Urban             186.89  19.6  formerly smoked       0
2          Urban             118.42  34.7     never smoked       0
3          Urban             226.01  27.1           smokes       0
4          Rural             229.64  27.6          Unknown       0

In [7]:
print(f"\nData Info:")
print(df.info())

Data Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 57281 entries, 0 to 57280
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 57281 non-null  int64
 1   gender             57281 non-null  object
 2   age                57281 non-null  float64
 3   hypertension       57281 non-null  int64
 4   heart_disease      57281 non-null  int64
 5   ever_married       57281 non-null  object
 6   work_type          57281 non-null  object
 7   Residence_type     57281 non-null  object
 8   avg_glucose_level  57281 non-null  float64
 9   bmi                54484 non-null  float64
 10  smoking_status     57281 non-null  object
 11  stroke             57281 non-null  int64
dtypes: float64(3), int64(4), object(5)
memory usage: 5.2+ MB
None

In [8]:
print(f"\nBasic Statistics:")
print(df.describe())

Basic Statistics:
                 id           age  hypertension  heart_disease  \
count  57281.000000  57281.000000  57281.000000   57281.000000
mean   24968.598296     54.041897      0.151586       0.103228
std    14469.950782     20.832396      0.358622       0.304259
min        1.000000     18.000000      0.000000       0.000000
25%    12401.000000     36.100000      0.000000       0.000000
50%    24937.000000     54.000000      0.000000       0.000000
75%    37510.000000     72.100000      0.000000       0.000000
max    50000.000000     90.000000      1.000000       1.000000

       avg_glucose_level           bmi        stroke
count       57281.000000  54484.000000  57281.000000
mean          159.937267     27.518226      0.169480
std            51.858107      7.212002      0.375179
min            70.010000     15.000000      0.000000
25%           114.670000     21.300000      0.000000
50%           160.320000     27.500000      0.000000
75%           204.960000     33.800000      0.000000
max           250.000000     40.000000      1.000000

In [9]:
print(f"\nMissing Values:")
print(df.isnull().sum())

Missing Values:
id                      0
gender                  0
age                     0
hypertension            0
heart_disease           0
ever_married            0
work_type               0
Residence_type          0
avg_glucose_level       0
bmi                  2797
smoking_status          0
stroke                  0
dtype: int64

In [10]:
print(f"\nTarget Distribution:")
print(df['stroke'].value_counts())
print(f"\nStroke Rate: {df['stroke'].mean()*100:.2f}%")

Target Distribution:
stroke
0    47573
1     9708
Name: count, dtype: int64

Stroke Rate: 16.95%

In [11]:
print(f"\nData Types:")
print(df.dtypes)
print(f"\nCategorical Columns: {df.select_dtypes(include=['object']).columns.tolist()}")
print(f"Numeric Columns: {df.select_dtypes(include=['int64', 'float64']).columns.tolist()}")

Data Types:
id                     int64
gender                object
age                  float64
hypertension           int64
heart_disease          int64
ever_married          object
work_type             object
Residence_type        object
avg_glucose_level    float64
bmi                  float64
smoking_status        object
stroke                 int64
dtype: object

Categorical Columns: ['gender', 'ever_married', 'work_type', 'Residence_type', 'smoking_status']
Numeric Columns: ['id', 'age', 'hypertension', 'heart_disease', 'avg_glucose_level', 'bmi', 'stroke']